stages:
- build-and-push

variables:
  IMAGE_TAG: "546.0.1"

build:
  stage: build-and-push
  image: docker:stable
  only:
  - main
  services:
    - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
  before_script:
  - until docker info >/dev/null; do sleep 1; echo "Waiting for docker startup"; done
  - echo "${DOCKER_CREDS}" | docker login --username al3xos --password-stdin
  script:
    - docker build -t al3xos/ci-tools:${IMAGE_TAG} .
    - docker tag al3xos/ci-tools:${IMAGE_TAG} al3xos/ci-tools:latest
    - docker push al3xos/ci-tools:${IMAGE_TAG}
    - docker push al3xos/ci-tools:latest
  after_script:
    - rm -f /root/.docker/config.json
