stages:
- build-and-push

variables:
  IMAGE_TAG: "546.0.1"

build-and-push:
  stage: build-and-push
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
  image:
    name: moby/buildkit:rootless
    entrypoint: [""]
  before_script:
    - mkdir -p ~/.docker
    - creds=$(echo -n "al3xos:${DOCKER_CREDS}" | base64 | tr -d '\n')
    - echo "{\"auths\":{\"https://index.docker.io/v1/\":{\"auth\":\"${DOCKER_CREDS}\"}}}" > ~/.docker/config.json
  script:
    - |
      echo "Building image [al3xos/ci-tools:${IMAGE_TAG}]"
      buildctl-daemonless.sh build \
        --frontend=dockerfile.v0 \
        --local context=${CI_PROJECT_DIR} \
        --local dockerfile=${CI_PROJECT_DIR} \
        --opt filename=Dockerfile \
        --output type=image,name=al3xos/ci-tools:${IMAGE_TAG},push=true \
        --output type=image,name=al3xos/ci-tools:latest,push=true
